html body {
    background-color: #494848;
    color: #ffffff;
}

header {
    margin: 10px 0 30 0;
}

nav {
    margin-bottom: 40px;
}

h1 {
    font-family: sans-serif;
    color: #FFFF00;
}


h3 {
        margin-top: 0;
        margin-bottom: 0;
        text-align:center;

}

p::selection {
    color: #FFFF00;
    background-color: maroon;
}



table {
    margin: 0 auto 10px; auto;
    border: 2px solid #ffffff;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: center;
}

th  {
    background-color: lightgray;
    color: #6D2E0D;
}

ul   {
    list-style: none;
}


.fsc {
    color: #FFFF00;
    font-family: cursive;
}

.header_p {
        text-align:center;
        text-shadow:5px 5px 10px #ffffff;
        color: #FFFF00;
}

.drop {
    text-align: center;
    margin-top: 1%;

}

.name {
    font-family: cursive;
}

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#div_table {
    margin-top: 20px;;
}

#a_examples {
    color: #FFFFFF;
    text-align: center;
}

#p_examples {
    text-align: center;
    color: #FFFF00;
}

#div_music {
    color: #ffffff;
    margin: 0 8% 10px 8%;
}

#Joe { /* image of joe */
    width:auto;
    height:auto;
    padding:0px;
    margin-right:2%;
    margin-top:2px;
    margin-bottom:0;
    float:none;
    border:2px solid #ffffff;
}

#twitter {
    float: left;
    clear: left;
}

#connect_ul {
    margin-top: 30px;
}

#footer_p {
    color: #FFFF00;
    padding-top:2px;
    padding-left:4px;
    padding-right: 2px;
    text-align:center;
    text-shadow:5px 5px 10px #ffffff;
    margin: 0 auto;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  margin-top: 10%;
}




/*  built into bootstrap:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
